<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>



<div id="app" v-if="visible">
    <button :disabled="!buttonsEnabled" onclick="calibAcc()">Accelerometer</button>
    <button :disabled="!buttonsEnabled" onclick="calibGyro()">Gyro</button>
    <button :disabled="!buttonsEnabled" onclick="calibMag()">Compass</button>
    <button :disabled="!buttonsEnabled" onclick="calibLevel()">Level Horizon</button>
    <progress v-if="progressValue >= 0" max="100" :value="progressValue" :style></progress>

    <h2>Log:</h2>
    <div id="log">{{ log }}</div>
</div>
<script>
    var calibrationApp = new Vue({
        el: '#app',
        data: {
            buttonsEnabled: false,
            progressValue: -1,
            log: '',
            visible: true,
        }
    })
</script>
<script type="text/javascript"
    src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
<script type="text/javascript" src="/static/ros.js"></script>

</body>
</html>