<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>



<div id="app" v-if="visible">
    <button :disabled="!buttonsEnabled" onclick="calibAcc()">Accelerometer</button>
    <button :disabled="!buttonsEnabled" onclick="calibGyro()">Gyro</button>
    <button :disabled="!buttonsEnabled" onclick="calibMag()">Compass</button>
    <button :disabled="!buttonsEnabled" onclick="calibLevel()">Level Horizon</button>
    <progress v-if="progressValue >= 0" max="100" :value="progressValue" :style></progress>

    <h2>Log:</h2>
    <div id="log">{{ log }}</div>
</div>
<div id="model">
    <model-obj
        src="models/coloured/model.obj" mtl="models/coloured/textures.mtl" :rotation="rotation"
        @on-load="onLoad"></model-collada>
  </div>
<script>
    var calibrationApp = new Vue({
        el: '#app',
        data: {
            buttonsEnabled: false,
            progressValue: -1,
            log: '',
            visible: true,
        }
    })
</script>
<script type="text/javascript"
    src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>


<script src="https://unpkg.com/vue-3d-model/dist/vue-3d-model.umd.js"></script>
<script>
    let rots = {
        back: {
            x: Math.PI/2,
            y: 0,
            z: 0,
        },
        up: {
            x: 0.3,
            y: 0,
            z: Math.PI,
        },
        right: {
            x: 0.3,
            y: -Math.PI / 2,
            z: -Math.PI /2,
        },
        left: {
            x: 0.3,
            y: Math.PI /2,
            z: Math.PI /2,
        },
        front: {
            x: -Math.PI/2,
            y: 0,
            z: Math.PI,
        },
        down: {
            x: 0.3,
            y: 0,
            z: 0,
        }
    }

    function rotate(newR) {
        let oldR = modelApp.rotation;
        let stages = 100;
        modelApp.speed = {
            x: (newR.x - oldR.x) / stages,
            y: (newR.y - oldR.y) / stages,
            z: (newR.z - oldR.z) / stages,
        }
        modelApp.rot = stages;
        console.log(modelApp.speed)
        modelApp.rotate();
    }

  var modelApp = new Vue({
            el: '#model',
            data: {
                rotation: Object.assign({}, rots.down),
                speed: {
                    x: 0,
                    y: 0,
                    z: 0,
                },
                rot: 0,
            },
            methods: {
                onLoad () {
                    //this.rotate();
                },
                rotate () {
                    this.rotation.x += this.speed.x;
                    this.rotation.y += this.speed.y;
                    this.rotation.z += this.speed.z;
                    if (this.rot > 0) {
                        this.rot--;
                        requestAnimationFrame( this.rotate );
                    }
                }
            }
        })
</script>
<script type="text/javascript" src="ros.js"></script>
<script type="text/javascript" src="func.js"></script>

</body>
</html>
